html,body{
	background-color: #eceff3;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header{
	height: 60px;
	width: 100%;
	background: #fff;
	top: 0;
	position: fixed;
	border-bottom: 1px solid #e2e2e2;
	z-index: 9999;
	box-shadow: 2px 2px 5px #e2e2e2;
}

header h1{
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	letter-spacing: -1.5px;
	display: inline-block;
}

.dropdown{
	display: inline-block;
	float: right;
	margin-top: 12px;
	margin-bottom: 12px;
	margin-right: 60px;
}

section{
	position: relative;
	top: 70px;
}

.post label{
	margin: 10px 10px;
	font-size: 16px;
}

.post input[type=text]{
	height: 40px;
	width: 420px;
	margin: 0 0 0 20px;
	padding: 2px 10px 2px 10px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
}

@media(max-width: 649px){
	.post input[type=text]{
		width: 100%;
	}
}

.form-group{
	margin: 0;
}

.post button{
	border: none;
	border-radius: 3px;
	background-color: #333;
	color: #fff;
	padding: 4px;
	margin-left: 40px;
	font-size: 12px;
}

.post .upload {
	margin: 20px 0 0 0;
	border: 1px solid #e2e2e2;
	width: 100%;
}

.uploadlabel{
	position: relative;
	overflow: hidden;
}

.uploadlabel input[type=file]{
	position: absolute;
	display: block;
	height: 25px;
	width: 100%;
	z-index: 2;
	opacity: 0;
}

.post textarea{
	height: 150px;
	width: 100%;
	border: 1px solid #e2e2e2;
	border-radius: 6px;
	font-size: 16px;
	padding: 1%;
}

.other h4{
	position: relative;
	top: 50px;
}

.other-post{
	position: relative;
	top: 50px;
	height: 130px;
	width: 100%;
	border-bottom: 1px solid #e2e2e2;
	padding: 1%;
}

.butn{
	margin-top: 30px;
}

.butn button{
	margin: 0;
}

/*.col-md-6{
	padding: 0;
}

.contac input[type=text]{
	margin: 20px 0 0 0;
	width: 98%;
}*/


.post-item{
	width: 100%;
	margin: 50px 0 50px 0;
}

.panel-body h3{
	float: left;
	display: inline-block;
}

.panel-body .views{
	background: #e2e2e2;
	display: inline-block;
	height: 100%;
	width: auto;
	float: left;
	padding: 4px;

}

.panel-body .views h4{
	font-size: 14px;
}

.panel-body .link{
	position: relative;
	margin-left: 40px;
	word-wrap: break-word;
	width: 70%;
	float: left;
}

.panel-body a{
	text-decoration: none;
	font-size: 18px;
}
.panel-body {
	text-decoration: none;
	font-size: 18px;

}
.time{
	position: relative;
	bottom: 0;
	right: 0;
	float: right;
}

.time span{
	font-size: 14px;
}

.time span a{
	font-size: 14px;
}
.main .container{
	background-color: #fff;
	box-shadow: #2px 2px 5px #e2e2e2;
	border-radius: 5px;
}

.main .container .ask{
	height: auto;
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e2e2;
}

.ask .botm{
	padding-bottom: 10px;
	border-bottom: 1px solid #e2e2e2;
}

.ask button{position: relative;top: 20px;
	float: right;
	border: none;
	border-radius: 3px;
	background-color: #333;
	color: #fff;
	padding: 4px;
	font-size: 12px;
}

.abt-comp .post .complnt{
	height: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e2e2e2;
}

.abt-comp .complnt h4{
	width: 100%;
	background: #ecf0f1;
	padding: 1%;
	font-size: 16px;
}
.abt-comp .complnt button{
	margin: 0 0	20px 0;

}

.flowchart{
	margin: 40px 0 20px 0;
}

.flowchart .flow{
	display: inline-block;
	padding-top: 27px;
	text-align: center;
	height: 80px;
	width: 80px;
	background-color: #ccc;
	color: #fff;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 2px 2px 5px #e2e2e2;
}

.flowchart .flow:hover{
	box-shadow: 3px 3px 6px #e2e2e2;
}

.pad-wrap{
	margin: 40px 0 40px 0;
}

@media(max-width: 650px){
	.flowchart .flow{
		padding-top: 20px;
		height: 60px;
		width: 60px;
		font-size: 11px;
	}
}
.logo{
	    margin-top: -6px;
}

.center{
	text-align: center;
}

.hove:hover{
	box-shadow: 2px 2px 5px #2d2d2d;
}

.img-show{
	height: 300px;
	width: 80%;
}
